@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family:@apply Vazirmatn, sans-serif;
}
  @font-face {
      font-family: Vazirmatn;
      font-style: normal ;
      font-weight: 400;
      font-display: block;
      src: url(/fonts/Vazirmatn-Regular.ttf) format("truetype");
    }
    